<header class="navbar navbar-static-top navbar-inverse" id="header" role="banner">
    <div class="container header-wrap">
        <div class="navbar-header">
            <a class="navbar-brand header-logo" href="/">欣然读书</a>
            <button class="navbar-toggle collapsed header-menu" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse header-nav" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li #if($!{currentPage} == "home") class="active" #end><a href="/">首页</a></li>
                <li #if($!{currentPage} == "donate") class="active" #end><a href="/book/donate/new">捐赠图书</a></li>
                <li #if($!{currentPage} == "share") class="active" #end><a href="/book/share/new">共享图书</a></li>
                <li #if($!{currentPage} == "user") class="active" #end><a href="/user/profile">个人中心</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form id="headerSearchForm" method="get" name="searchForm" action="/book/search" >
                        <div class="input-group">
                                <input id="input-search-text" name="q" type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </form>
                </li>
                #if($!{session.getAttribute("userName")})
                    <li class="active"><a href="/user/profile">$!{session.getAttribute("userName")}</a></li>
                    <li><a class="logout-btn" id="logout-btn">退出</a></li>
                #else
                    <li><a href="/user/session/signIn">登录</a></li>
                    <li><a href="/user/session/signUp">注册</a></li>
                #end
            </ul>
        </nav>
    </div>
</header>
<script type="text/javascript">
    seajs.use('/js/common.js', function (Common) {
        new Common().render();
    });
</script>