#set($layout = "./layout.vm")
#set($currentPage = "donate")

<link rel="stylesheet" type="text/css" href="/css/bookLocation.css" media="all">
<div class="main-stage container-fluid" id="main-stage">
    <div class="location-manager-box">
        <h3>地址管理</h3>
        <div id="location-manager-content" class="location-manager-content">

            <div class="manger-controller">
                <div class="container-fluid">
                    <div class="col-xs-2 col-md-2"> 
                        <a class="J-add-new btn btn-default btn-sm" href="javascript:void(0);">添加新地址</a>
                    </div>

                </div>
            </div>


            <div class="container-fluid location-info-list">
                <div class="row row-header">
                    <div class="col-xs-3 col-md-2"> 省份</div>
                    <div class="col-xs-3 col-md-2"> 城市</div>
                    <div class="col-xs-3 col-md-2"> 区县</div>
                    <div class="col-xs-3 col-md-3"> 详细地址</div>
                    <div class="col-xs-3 col-md-3"> 操作</div>
                </div>
                <div class="J-info-list-content info-list-content">
                   



                </div>


            </div>


        </div>

    </div>
</div>

<div class="modal fade" id="location-data-info" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加／更新地址</h4>
            </div>
            <div class="modal-body">

                <form id="J-location-form">
                      <input type="hidden" class="J-location-id" value="" />
                      <input type="hidden" class="J-location-action" value="" />
                      <div class="form-group">
                        <label for="exampleInputEmail1">省份</label>
                        <input type="email" class="J-input-provinces form-control" placeholder="省份">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">城市</label>
                        <input type="email" class="J-input-citys form-control" placeholder="城市">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">区县</label>
                        <input type="email" class="J-input-counties form-control" placeholder="区县">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputDetail"> 详细描述</label>
                        <input type="email" class="J-input-details form-control" placeholder="详细描述">
                      </div>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary J-save-btn">添加</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="location-data-del" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">删除确认</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="J-location-id" value="" />
                <input type="hidden" class="J-location-action" value="" />
                
                <p>确认删除该地址信息？</p>     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary J-save-btn">确认删除</button>
            </div>
        </div>
    </div>
</div>

<script>
    seajs.use('/js/bookLocation.js', function ( BookLocation ) {
        new BookLocation().render();
    });
</script>