#set($bookSearchResultList11 = $bookSearchResultList)

$bookSearchResultList11


<link rel="stylesheet" type="text/css" href="/css/home.css" media="all">
<div class="main-stage container-fluid" id="main-stage">
    <div class="home-content">
        <h3 class="c-title">图书搜索结果 <span>($!{bookSearchResultList.size()}册)</span></h3>
        <ul class="c-book-list clearfix">
            #foreach( $!bookDetailObj in $!{bookSearchResultList} )
            #set($bookItem = $!{bookDetailObj.book} )
            <li class="c-book-item">
                <div class="cover">
                    <a href="/book/detail/$!{bookItem.id}" target="_blank">
                        <img src="$!{bookItem.imgUrl}" alt="$!{bookItem.title}" >
                    </a>
                </div>
                <div class="info">
                    <h4 class="title">
                        <a href="/book/detail/$!{bookItem.id}" target="_blank">$!{bookItem.title}</a>
                    </h4>
                    <p class="author">$!{bookItem.author}</p>
                    <p class="publisher">$!{bookItem.publisher}</p>
                    <p class="summary">$!{bookItem.summary.substring(0, 40)}...</p>
                </div>
            </li>
            #end
        </ul>
    </div>
    <div class="home-sidebar">

    </div>
</div>

<script>
    seajs.use('/js/searchResultList.js', function ( searchList ) {
        new searchList().render();
    });
</script>