#set($layout = "./layout.vm")
#set($bookDetailInfo = $bookDetail.book)
#set($bookBorrow = $bookDetail.onOffStockRecord)
#set($userInfo = $bookDetail.ownerUserVO)
#set($currentPage = "detail")

<link rel="stylesheet" type="text/css" href="/css/detail.css" media="all">
<div class="main-stage container-fluid" id="main-stage" data-id="$bookBorrow.id">
    <div class="xy-detail">
        <div class="xy-detail-header">
            让书流动起来，传递知识分享爱，欣然读书吧
        </div>
        <div class="xy-detail-info" data-id="$bookDetailInfo.id">
            <div class="xy-detail-info-left">
                <img class="xy-detail-info-img" src="$bookDetailInfo.imgUrl">
            </div>
            <div class="xy-detail-info-right">
                <p class="xy-detail-info-title">
                    $bookDetailInfo.title
                </p>

                <p class="xy-detail-info-des">
                    <span class="xy-detail-info-des-left">共享日期:</span>
                    <span class="xy-detail-info-des-right">$date.format($bookBorrow.createdAt)</span>
                </p>

                <p class="xy-detail-info-des">
                    <span class="xy-detail-info-des-left">
                        #if ($bookDetailInfo.bookType)
                            捐书人:
                        #else
                            共享人:
                        #end
                    </span>
                    <span class="xy-detail-info-des-right">$userInfo.nickName</span>
                </p>

                <p class="xy-detail-info-des">
                    <span class="xy-detail-info-des-left">目前状态:</span>
                    <span class="xy-detail-info-des-right xy-detail-book-status">
                    #if ($bookBorrow.borrowStatus == 1)
                        已借
                    #else
                        可借
                    #end
                    </span>
                </p>

##                <p class="xy-detail-info-control">
##                    ## 书是被共享的
##                    #if($bookBorrow.bookType == 1)
##                        ##且共享人是当前登录用户
##                        #if($bookBorrow.ownerUserId == $!session.getAttribute("userId"))
##                        <a href="javascript:;" data-id="$bookBorrow.id" data-role="detail-dis-share"
##                           class="btn btn-default">取消共享</a>
##                        #end
##                    #end
##
##                    ## 书是被借的
##                    #if($bookBorrow.bookType == 0)
##                        ## 书的状态是未借
##                        #if($bookBorrow.borrowStatus == 0)
##                        <a href="javascript:;" data-id="$bookBorrow.id" data-role="detail-borrow-book"
##                           class="btn btn-default btn-success">借书</a>
##                        #else
##                            ## 书的状态是已借且借书人是自己
##                            #if($bookBorrow.borrowUserId == $session.getAttribute("userId"))
##                            <a href="javascript:;" data-id="$bookBorrow.id" data-role="detail-return-book"
##                               class="btn btn-default btn-success">还书</a>
##                            #end
##                        #end
##                    #end
##                </p>
            </div>
        </div>

        <div class="xy-detail-publish">
            <p class="xy-detail-first-item">出版信息</p>

            <p class="xy-detail-publish-item">
                <span class="xy-detail-publish-left">作者:</span>
                <span class="xy-detail-publish-right">$bookDetailInfo.author</span>
            </p>

            <p class="xy-detail-publish-item">
                <span class="xy-detail-publish-left">出版社:</span>
                <span class="xy-detail-publish-right">$bookDetailInfo.publisher</span>
            </p>

            <p class="xy-detail-publish-item">
                <span class="xy-detail-publish-left">定价:</span>
                <span class="xy-detail-publish-right">$bookDetailInfo.price</span>
            </p>

            <p class="xy-detail-publish-item">
                <span class="xy-detail-publish-left">ISBN:</span>
                <span class="xy-detail-publish-right">$bookDetailInfo.isbn</span>
            </p>
        </div>

        <div class="xy-detail-content">
            <p class="xy-detail-first-item">内容简介</p>

            <div class="xy-detail-content-info">
                <div class="xy-detail-des">
                    <pre>$bookDetailInfo.summary</pre>
                </div>
                <p class="xy-detail-content-control">
                    <a href="javascript:void(0);" class="xy-detail-content-seek" data-role="xy-detail-seek-more">{展开全部}</a>
                </p>
            </div>
        </div>

        <div class="xy-detail-history">
            <p class="xy-detail-first-item">借阅历史</p>

            <div class="xy-detail-history-content">
                #if ($bookDetail.histroicBorrowedRecordList)
                    #foreach($history in $bookDetail.histroicBorrowedRecordList)
                    <a target="_blank" href="//user/$history.id" class="xy-detail-history-item" data-id="$history.id">
                        <img src="$history.imgId">
                        <span href="javascript:;" class="xy-detail-history-name">
                            $history.nickName
                        </span>
                    </a>
                    #end
                #else
                <p>
                    <span class="xy-detail-trips">暂时没有人借阅此书</span>
                </p>
                #end
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="disShare-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">取消共享</h4>
            </div>
            <div class="modal-body">
                确认取消共享此图书吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="cancel-donate-book-btn">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="borrow-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">共享图书</h4>
            </div>
            <div class="modal-body">
                确认借阅此图书吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="borrow-book-btn">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="return-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">还图书</h4>
            </div>
            <div class="modal-body">
                确认还此图书吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="return-book-btn">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    seajs.use('/js/bookDetail.js', function (BookDetail) {
        new BookDetail().render();
    });
</script>