#set($layout = "./layout.vm")
#set($currentPage = "donate")

<link rel="stylesheet" type="text/css" href="/css/share.css" media="all">
<div class="main-stage container-fluid" id="main-stage">
    <div class="row">
        <div class="xinran-desc col-xs-6">

        </div>
        <div class="book-share-box-rootcol-xs-6" id="book-share-box-root">
            <h3>第一步：输入你私人书籍的条形码（ISBN码）:</h3>
            <div class="field-item clearfix">
                <div class="title">ISBN码：</div>
                <div class="content">
                    <input type="text" class="J-input-isbn" value="请输入iSBN"/>
                </div>
            </div>
            <div class="field-item clearfix" style="display:none;">
                <div class="title">捐赠人：</div>
                <div class="content">
                    <input type="text" class="J-input-donor" value=""/>
                </div>
            </div>
            <div class="field-item">
                <div class="title">&nbsp;</div>
                <div class="content">
                    <input type="button" class="J-btn-get-book" value="提交"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bookinfo-box-root" class="bookinfo-detail-root" style="display:none;">
    <div class="book-detail-main">
        <div class="detail-title">你要分享的图书信息</div>
        <div class="clearfix">
            <div class="box-pic">
                <img class="J-book-pic" src=""/>
            </div>
            <div class="box-info">
                <p><span class="J-book-title book-title"></span></p>
                <p>作者: <span class="J-author"></span></p>
                <p>出版社: <span class="J-publisher"></span></p>
                <p>定价: <span class="J-price"></span></p>
                <button class="J-btn-share-book">共享图书</button>
            </div>
        </div>
        <div class="ui-banner-box ui-normal">
            <div class="ui-normal-box">
                <h3>内容介绍</h3>
                <div class="J-summary"></div>
            </div>
        </div>
    </div>
</div>


<script>
    seajs.use('/js/donate.js', function (donateObj) {
        //页面处理初始化
        donateObj.init();
    });
</script>