<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>欣然读书--注册</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>

    <!-- 公用静态资源 -->
    #parse("common/baseStyle.vm")
    
    <!-- 页面静态资源 -->
    <link rel="stylesheet" type="text/css" href="$!{webHost}/css/register.css" media="all">
    <link rel="stylesheet" type="text/css" href="$!{webHost}/css/share.css" media="all">
</head>
<body>
<div class="body-wrap container-fluid" id="body-wrap">

<!-- 顶部 -->
#parse("common/header.vm")

<div class="login-ad">
</div>

<div class="ui-banner-box">
	<div class="ui-center-box">
    	<h3 class="ui-color-darkgreen">与其让你书落满灰尘 不如把它共享</h3>
        <p>1. 共享的书籍依然归属你，只需供大家借阅，随时收回</p>
		<p>2. 共享后，你将获得绿色兑换公益幸福团的公益积分</p>
		<p>3. 如果你想直接捐赠给欣然流动读书吧，请直接点击</p>
    </div>

</div>


<div id="book-share-box-root" class="book-share-box-root">
	
    <div class="book-isbn-sub-box">
    	<div class="box-pic"></div>
        <div class="box-info">
        	<h3>第一步：输入你私人书籍的条形码（ISBN码）:</h3>
            <div class="field-item clearfix">
            	<div class="title">ISBN码：</div>
                <div class="content">
                	<input type="text" class="J-input-isbn" value="9787111128069" />
                
                </div>
            </div>
            <div class="field-item clearfix" style="display:none;">
            	<div class="title">捐赠人：</div>
                <div class="content">
                	<input type="text" class="J-input-donor" value="" />
                
                </div>
            </div>
            
            <div class="field-item">
            	<div class="title">&nbsp;</div>
                <div class="content">
                	<input type="button" class="J-btn-get-book" value="提交" />
                
                </div>
            </div>
          
        	
        
        </div>
    
    </div>
</div>

<div id="bookinfo-box-root" class="bookinfo-detail-root"  style="display:none;">
    <div class="book-detail-main">
        <div class="detail-title">你要捐赠的图书信息</div>
        <div class="clearfix">
            <div class="box-pic">
                <img class="J-book-pic" src="" /> 
            </div>
            <div class="box-info">
                <p> <span class="J-book-title book-title">欣然图书</span></p>
                <p>作者: <span class="J-author">欣然图书</span></p>
                <p>出版社: <span class="J-publisher">湖南文艺出版社</span></p>
                <p>定价: <span class="J-price">36.00元</span></p>
                <p>
                  <input type="button" class="J-btn-share-book" value="共享图书" />
                </p>
            </div>
        </div>

 

        <div class="ui-banner-box ui-normal">
            <div class="ui-normal-box">
                <h3>内容介绍</h3>
                <div class="J-summary">

                </div>
            </div>

        </div>

    </div>
</div>









</div>


<script >
seajs.use('$!{webHost}/js/donate.js', function( donateObj ){
    //页面处理初始化
    donateObj.init();
});
</script>



#parse("common/footer.vm")

</body>
</html>