#set($layout = "./layout.vm")
#set($currentPage = "home")

<link rel="stylesheet" type="text/css" href="/css/home.css" media="all">
<div class="main-stage container-fluid" id="main-stage">
    <div class="home-book-count-title"> 目前共有图书 $!{homepageVO.bookList.size()} 册</div>
    <div id="home-main-box-root" class="home-main-box-root clearfix" >

        #foreach( $!bookItem in $!{homepageVO.bookList} )
        <div class="book-item" title="$!{bookItem.title}" data-toggle="tooltip" data-placement="bottom" >
            <a target="_blank" href="$!{webHost}/book/detail/$!{bookItem.id}">
                <div class="item-pic">
                    <img class="img-pic" src="$!{bookItem.imgUrl}" />
                </div>
                <div class="item-title"> $!{bookItem.title} </div>
            </a>
        </div>
        #end
    </div>
</div>

<script >
seajs.use('/js/home.js', function( homeObj ){
    homeObj.init();
});
</script>