<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>欣然读书</title>

    <!-- 自适应meta -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>

    <!-- 公用静态资源 -->
    <link rel="stylesheet" type="text/css" href="/css/common/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css" media="all">
    <script src="/js/common/sea.js"></script>
    <script src="/js/common/jquery.js"></script>
    <script src="/js/common/bootstrap.js"></script>
    <script src="/js/common/seajs-css.js"></script>
    <script src="/js/common/seajs-text.js"></script>
    <script src="/js/common/sea-config.js"></script>
</head>
<body>
<!-- header -->
#parse("common/header.vm")

<!-- content -->
$screen_content

<!-- footer -->
#parse("common/footer.vm")
</body>
</html>


