#set($layout = "./layout.vm")
#set($currentPage = "register")
<link rel="stylesheet" type="text/css" href="/css/login.css" media="all">
<div class="body-wrap container-fluid" id="body-wrap">
    <div class="login-panel-wrap row">
        <div class="login-panel">
            <div class="login-banner">
                <h1>欣然读书</h1>
                <p>谈笑有鸿儒，往来无白丁。</p>
            </div>
            <div class="login-form">
                <div class="form-horizontal">
                   
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="email" autocomplate="off" class="form-control" id="reg_account" placeholder="请输入您的邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" autocomplate="off" class="form-control" id="reg_nickname" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="password" autocomplate="off" class="form-control" id="reg_password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input id="J-agreement" class="input-ck" type="checkbox"> 
                                    <a href="javascript:void(0)" class="J-btn-link-agreement">同意网站协议</a>
                                </label>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-sm-8">
                            <span id="helpBlock" class="help-block">用户名或密码错误</span>
                            <button type="submit" class="btn btn-default" id="register-btn">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-ad">
    </div>
</div>


<div class="modal fade" id="sign-up-agreement-box" role="dialog">
    <div class="modal-dialog" role="document" style="width:720px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">享阅用户协议</h4>
            </div>
            <div class="modal-body">

<!--  agreement box begin -->  
<style>
    .agreement-box{
        width: 700px;
        height: 400px;
        overflow: hidden;
        overflow-y:scroll;
        font-size: 12px;
        color: #333;
    }
    .agreement-box h3{
        margin: 15px 0;
        font-size: 14px;
        font-weight: bold;
    }
    .agreement-box h5{
        margin: 10px 0;
        font-size: 12px;
        font-weight: bold;
    }
    .agreement-box .span-p,
    .agreement-box p{
        text-indent: 20px;
        margin: 5px 0;
    }
</style>
<div class="agreement-box">
    <h3>享阅注册协议：</h3>

    <div class="span-p">尊敬的用户，欢迎您注册成为本软件用户。</div>
    <div class="span-p">
    欣然读书吧（以下简称“享阅”）在此特别提醒您（用户）在注册成为用户之前，请认真阅读本《用户协议》（以下简称“协议”），确保您充分理解本协议中各条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
    </div>
    <div class="span-p">
    本协议约定享阅与用户之间的权利义务。“用户”是指注册、登录、使用享阅软件服务的个人。本协议可由享阅随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本网站查阅最新版协议条款。在享阅修改协议条款后，如果用户不接受修改后的条款，请立即停止使用享阅提供的服务，用户继续使用享阅提供的服务将被视为接受修改后的协议。
    </div>
    <h5>一、账号注册</h5>
    <p>1、用户在使用本服务前需要注册一个“享阅”账号。</p>
    <p>2、“享阅”系基于阅读分享开发的APP产品，用户注册时应当授权享阅公开及使用其个人信息方可成功注册“享阅”账号。故用户完成注册即表明用户同意享阅提取、公开及使用用户的信息。 </p>
    <p> 3、鉴于“享阅”账号的绑定注册方式，您同意享阅在注册时将允许您的手机号码或邮箱地址用于注册。 </p>
    <p>4、在用户注册及使用本服务时，享阅需要搜集能识别用户身份的个人信息以便享阅可以在必要时联系用户，或为用户提供更好的使用体验。享阅搜集的信息包括但不限于用户的姓名、地址；享阅同意对这些信息的使用将受限于第三条用户个人隐私信息保护的约束。</p>
    </p>
    <h5>二、用户个人隐私信息保护</h5>
    <p>
        <div class="span-p">
        用户在注册账号或使用本服务的过程中，可能需要填写或提交一些必要的信息，如法律法规、规章规范性文件（以下称“法律法规”）规定的需要填写的身份信息。如用户提交的信息不完整或不符合法律法规的规定，则用户可能无法使用本服务或在使用本服务的过程中受到限制。
        </div>
        <div class="span-p">
        个人隐私信息是指涉及用户个人身份或个人隐私的信息，比如，用户真实姓名、手机号码。非个人隐私信息是指用户对本服务的操作状态以及使用习惯等明确且客观反映在享阅服务器端的基本记录信息、个人隐私信息范围外的其它普通信息，以及用户同意公开的上述隐私信息。
        </div>
        <div class="span-p">
        尊重用户个人隐私信息的私有性是享阅的一贯制度，享阅将采取技术措施和其他必要措施，确保用户个人隐私信息安全，防止在本服务中收集的用户个人隐私信息泄露、毁损或丢失。在发生前述情形或者享阅发现存在发生前述情形的可能时，将及时采取补救措施。
        </div>
        <p>享阅未经用户同意不向任何第三方公开、 透露用户个人隐私信息。但以下特定情形除外：</p>
        <p>享阅根据法律法规规定或有权机关的指示提供用户的个人隐私信息；</p>
        <p>由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何个人信息的泄漏，或其他非因享阅原因导致的个人隐私信息的泄露；</p>
        <p>用户自行向第三方公开其个人隐私信息；</p>
        <p>任何由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致用户个人隐私信息的泄露。</p>
        <br/>
        <p><b>用户同意享阅可在以下事项中使用用户的个人隐私信息：</b></p>
        <p>享阅向用户及时发送重要通知，如软件更新、本协议条款的变更；</p>
        <p>享阅内部进行审计、数据分析和研究等，以改进享阅的产品、服务和与用户之间的沟通；</p>
        <p>依本协议约定，享阅管理、审查用户信息及进行处理措施；</p>
        <p>适用法律法规规定的其他事项。</p>
        <p>除上述事项外，如未取得用户事先同意，享阅不会将用户个人隐私信息使用于任何其他用途。</p>
        <p>为了改善享阅的技术和服务，向用户提供更好的服务体验，享阅或可会自行收集使用或向第三方提供用户的非个人隐私信息。</p>
    </p> 
    <h5>三、内容规范</h5>
    <p>
    1、如果享阅发现或收到他人举报或投诉用户违反本协议约定的，享阅有权不经通知随时对相关内容，包括但不限于用户资料进行审查、删除，并视情节轻重对违规账号处以包括但不限于警告、账号封禁 、功能封禁的处罚，且通知用户处理结果。 </p>
    <p> 2、因违反用户协议被封禁的用户，可以自行与享阅联系。其中，被实施功能封禁的用户会在封禁期届满后自动恢复被封禁功能。被封禁用户可提交申诉，享阅将对申诉进行审查，并自行合理判断决定是否变更处罚措施。 </p>
    <p>3、用户理解并同意，享阅有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应承担由此而产生的一切法律责任。</p>
    <p>4、用户理解并同意，因用户违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当赔偿享阅与合作公司、关联公司，并使之免受损害。</p>

    
    <h5>四、使用规则</h5>
    <p>1、用户在本服务中或通过本服务所传送、发布的任何内容并不反映或代表，也不得被视为反映或代表享阅的观点、立场或政策，享阅对此不承担任何责任。</p> 
    <p><b>2、用户不得利用“享阅”账号或本服务进行如下行为：</b> </p>
    <p>(1) 提交、发布虚假信息，或盗用他人头像或资料，冒充、利用他人名义的； </p>
    <p>(2) 强制、诱导其他用户关注、点击链接页面或分享信息的； </p>
    <p>(3) 虚构事实、隐瞒真相以误导、欺骗他人的； </p>
    <p>(4) 利用技术手段批量建立虚假账号的； </p>
    <p>(5) 利用“享阅”账号或本服务从事任何违法犯罪活动的； </p>
    <p>(6) 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的； </p>
    <p>(7) 其他违反法律法规规定、侵犯其他用户合法权益、干扰“享阅”正常运营或享阅未明示授权的行为。 </p>
    <p>3、用户须对利用“享阅”账号或本服务传送信息的真实性、合法性、无害性、准确性、有效性等全权负责，与用户所传播的信息相关的任何法律责任由用户自行承担，与享阅无关。 </p>
    <p>如因此给享阅或第三方造成损害的，用户应当依法予以赔偿。 </p>
    <p>4、享阅提供的服务中可能包括广告，用户同意在使用过程中显示享阅和第三方供应商、合作伙伴提供的广告。除法律法规明确规定外，用户应自行对依该广告信息进行的交易负责， 对用户因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，享阅不承担任何责任。</p>
    <h5>五、帐户管理</h5>
    <p>用户可以更改、删除帐户上的个人资料、注册信息及传送内容等，但需注意，删除有关信息的同时也会删除用户储存在系统中的文字和图片。用户需承担该风险。</p>
    <p>用户有责任妥善保管注册账号信息及账号密码的安全，因用户保管不善可能导致遭受盗号或密码失窃，责任由用户自行承担。用户需要对注册账号以及密码下的行为承担法律责任。</p>      
    <p>用户同意在任何情况下不使用其他用户的账号或密码。在用户怀疑他人使用其账号或密码时，用户同意立即通知享阅。</p>
    <p>用户应遵守本协议的各项条款，正确、适当地使用本服务，如因用户违反本协议中的任何条款，享阅在通知用户后有权依据协议中断或终止对违约用户账号提供服务。同时，享阅保留在任何时候收回账号、用户名的权利。</p>
    <p>如用户注册账号后一年不登录，通知用户后，享阅可以收回该账号，以免造成资源浪费，由此造成的不利后果由用户自行承担。</p>
    <h5>六、风险承担</h5>
    <p>用户理解并同意，享阅仅为用户提供信息分享、借书、捐书、还书的平台，用户必须为自己注册账号下的一切行为负责，包括用户所传送的任何内容以及由此产生的任何后果。</p>
    <p>用户应对本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。享阅无法且不会对因用户行为而导致的任何损失或损害承担责任。</p>
        
    <h5>七、法律责任</h5>
    <p>如果享阅发现或收到他人举报或投诉用户违反本协议约定的，享阅有权不经通知随时对相关内容，包括但不限于用户资料、聊天记录进行审查、删除，并视情节轻重对违规账号处以包括但不限于警告、账号封禁、功能封禁的处罚，且通知用户处理结果。</p>
         
    <h5>八、不可抗力及其他免责事由</h5>
    <p>用户理解并确认，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，享阅将努力在第一时间与相关单位配合，及时进行修复，但是由此给用户或第三方造成的损失，享阅及合作单位在法律允许的范围内免责。</p>
       
    <h5>九、其他</h5>
    <p>享阅郑重提醒用户注意本协议中免除享阅责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本协议。</p>
    <p>本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和享阅之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交享阅住所地有管辖权的人民法院管辖。</p>
    <p>本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p>
     

    <h3>关于我们</h3>
    <p>欣然读书吧是以阿里同事为主的读书交流朋友圈，以“我为人人，人人为我”为宗旨，提倡爱读书、爱交流、爱分享，在这个圈子里，每位书友都是主角，可自组织读书沙龙，一起分享知识和快乐。</p>
    <p>欣然读书吧也是阿里十派之一，在公司外部也有分舵，到目前已经组织过100多期读书交流活动和3次读书吧年会，聚集了一帮爱读书爱分享的书友，后来源于一个机缘，创始人接手了阿里公益组织-绿色兑换幸福团团长，得以把书和公益真正的融合到一起，倡导人人公益，把闲置的书籍流动起来，一是环保，让闲置的书籍重复再利用，最有意义的是可以收集到更多的儿童读物，通过NGO或其他方式把书籍送给贫困山区小学，目前在阿里园区也建立了多个欣然流动读书吧公益书架和捐赠了上千册儿童书籍到贫困小学，为了让更多人能参与到这项公益中来，从去年开始召集热爱公益的伙伴组成一个开发小组，随之“享阅”就从此诞生了。</p>
    <p>享阅以环保公益为使命，贯穿“让书流动起来，传递知识分享爱，欣然读书吧！”的理念，用捐书、借书、还书、享书等方式把一个个公益书架连接起来，成为一个有温度的O2O世界图书馆。</p>
    <p>分享随心，享阅随地！</p>
    <p>当前版本：Version 1.0.0</p>

    <h3>联系我们</h3>
    <p>欢迎你提出宝贵建议，可发送邮件到：xinranreading@gmail.com</p>

    <h3>问题反馈</h3>
    <p>问题和建议：</p>
    <p>提交  </p>

    <h3>免责申明</h3>
    <p>1、一切移动客户端用户在下载并浏览享阅软件时均被视为已经仔细阅读本条款并完全同意。凡以任何方式登陆本享阅，或直接、间接使用享阅资料者，均被视为自愿接受本网站相关声明和用户服务协议的约束。 </p>  
    <p>2、享阅转载的内容并不代表享阅之意见及观点，也不意味着本网赞同其观点或证实其内容的真实性。 </p>  
    <p>3、享阅转载的文字、图片等资料均由本享阅用户提供，其真实性、准确性和合法性由信息发布人负责。享阅不提供任何保证，并不承担任何法律责任。  </p> 
    <p>4、享阅所转载的文字、图片等资料，如果侵犯了第三方的知识产权或其他权利，责任由作者或转载者本人承担，享阅对此不承担责任。 </p>
    <p>5、享阅不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该外部链接指向的不由享阅实际控制的任何网页上的内容，享阅不承担任何责任。
    </p>  
    <p>6、除享阅注明之服务条款外，其它因不当使用享阅而导致的任何意外、疏忽、合约毁坏、诽谤、版权或其他知识产权侵犯及其所造成的任何损失，享阅概不负责，亦不承担任何法律责任。  </p> 
    <p>7、对于因不可抗力或因黑客攻击、通讯线路中断等享阅不能控制的原因造成的网络服务中断或其他缺陷，导致用户不能正常使用享阅，享阅不承担任何责任，但将尽力减少因此给用户造成的损失或影响。 </p>
    <p>8、本声明未涉及的问题请参见国家有关法律法规，当本声明与国家有关法律法规冲突时，以国家法律法规为准。 </p>  
    <p>9、本网站相关声明版权及其修改权、更新权和最终解释权均属享阅所有。</p>
    <h3>帮助中心</h3>
    <p>捐书：</p>
    <p>扫书籍背后右下侧ISBN码—> 确认书籍信息和选择捐赠书架—> 扫描公益二维码 —> 把公益二维码贴书扉页  —> 捐书成功</p>
    <p>借书</p>
    <p>扫公益二维码 —> 借书</p>
    <p>还书</p>
    <p>扫公益二维码 —> 还书</p>
    <p>享书</p>
    <p>扫书籍背后右下侧ISBN码 —> 确认书籍信息  —> 享书成功 </p>
    <br/>

<div class="modal-footer">
    <button type="button" class="btn btn-primary J-agbox-btn-agreement" data-dismiss="modal">已阅读</button>
    <button type="button" class="btn btn-default J-agbox-btn-cancel">关闭</button>
</div>

</div>
<!--  agreement box end -->    
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    seajs.use('/js/login.js', function (Login) {
        var login = new Login();
        login.render();
    });
</script>
