#set($layout = "./layout.vm")
#set($currentPage = "user")

<link rel="stylesheet" type="text/css" href="/css/ucenter.css" media="all">
<div class="body-wrap container-fluid" id="body-wrap">
    密码重置,开发中。请联系<a href="mailto:xinranreading@gmail.com">管理员邮箱</a> 进行密码重置。

</div>

<script type="text/javascript">
    seajs.use('/js/ucenter.js', function (Ucenter) {
        var ucenter = new Ucenter();
        ucenter.render();
    });
</script>











