<link href="/css/common/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/common/fileinput.js" type="text/javascript"></script>
<script src="/js/common/jquery.form.js" type="text/javascript"></script>

<!--
<form method="POST" action="/upload"  enctype="multipart/form-data">
    Please select a file to upload : <input type="file" name="file" />
    <input type="submit" value="upload" />
</form>
-->

<div class="body-wrap container-fluid" id="body-wrap">
    <div class="body-content-wrap">

			<div class="container kv-main">
			    <div class="page-header">
				    <h1>头像上传： <small></h1>
				    <h3 id ="J-result" class="text-success" style="display:none;" >头像上传成功</h3>
			    </div>
			    <form id="form-upload" enctype="multipart/form-data" method="POST" action="/upload">
			        <input id="file-0" class="file" type="file" name="file" data-min-file-count="1">
			        <br>
			        
			    </form>
			   <button id="btn-submit" type="submit" class="btn btn-primary">上传头像</button>
			</div>

	</div>
</div>

<script>
    seajs.use('/js/uploadFile.js', function (UploadFile) {
        new UploadFile().render();
    });
</script>




