html {
	font-size: 14px;
	font-family: "微软雅黑", arial, Helvetica, STHeiTi, sans-serif;
}
body{
	background: #e1e8f0;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.main-stage{
	width: 980px;
	min-height: 600px;
	background: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*header*/
.header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #545652;
	border-color: #545652;
	color: #d5d5d5;
}
.navbar{
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #4d5256;
}
.navbar-inverse .navbar-nav > li > a{
	color: #d5d5d5;
}
.navbar-inverse .navbar-brand{
	color: #d5d5d5;
}
.navbar-right .input-group {
	width: 280px;
	padding: 8px 20px;
}

/*footer*/
.ui-footer {
	padding: 15px 0;
	background-color: #707880;
	color: #e9ecf1;
}
.ui-footer p{
	text-align: center;
}
.ui-footer a:link, .ui-footer a:visited {
	color: #e9ecf1;
	text-decoration: none;
}
.ui-footer a:focus, .ui-footer a:hover {
	color: #e9ecf1;
	text-decoration: none;
}