.xy-detail-header {
    height: 100px;
    background: #6bd4d0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 30px;
}

.xy-detail-info-title {
    font-weight: bold;
    margin-top: 0;
}

.xy-detail-info-left {
    float: left;
    margin-right: 30px;
}

.xy-detail-info-right {
    overflow: hidden;
}

.xy-detail-btn {
    padding: 8px 28px;
    color: #009800;
    background: #fff;
    border: 1px solid #e6e6e6;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.xy-detail-info-control a {
    margin-top: 5px;
    margin-right: 10px;
}

.xy-btn-green {
    background: #1fcb6a;
    color: #fff;
}

.xy-detail-publish, .xy-detail-content, .xy-detail-history {
    margin: 16px 0 32px;
}

.xy-detail-content-seek {
    display: inline-block;
    margin: 16px 0 0;
}

.xy-detail-history-content {
    overflow: hidden;
}

.xy-detail-history-item {
    float: left;
    margin-right: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.xy-detail-history-content .xy-detail-history-item img {
    width: 50px;
    height: 50px;
}

.xy-detail-history-name {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0066FF;
}

.xy-detail-trips {
    color: #999;
}

.xy-detail-des {
    overflow: hidden;
}

.xy-detail-limit {
    max-height: 250px;
    overflow: hidden;
}

.xy-detail-des.xy-detail-des-show-all {
    overflow: visible;
    max-height: inherit;
}

.xy-detail-content-seek {
    display: none;
}

.xy-detail-des pre {
    border: none;
    background: #fff;
}

.xy-detail-first-item {
    color: #007722;
    margin-bottom: 15px;
    padding-bottom: 6px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
