.home-content {
    float: left;
    width: 590px;
}

.home-content a{
    color: #1686cc;
}

.home-sidebar {
    float: right;
    width: 310px;
    height: 550px;
    background: url(../img/home/sider.png) no-repeat 0 0;
}

/*content*/
.c-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 6px;
    margin: 0 0 16px 0;
    border-bottom: 1px solid #ddd;
}

.c-book-list {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.c-book-list li {
    float: left;
    display: block;
    width: 295px;
    overflow: hidden;
    margin-bottom: 30px;
}

.c-book-item .cover {
    float: left;
    margin-right: 18px;
}

.c-book-item .cover img{
    width: 68px;
    height: 96px;
    vertical-align: middle;
}

.c-book-item .info {
    font-size: 12px;
    margin-right: 20px;
}

.c-book-item .title {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 6px 0;
}

.c-book-item .info .author,
.c-book-item .info .publisher{
    line-height: 16px;
    color: #333;
    margin: 0 0 3px 0;
    word-wrap: break-word;
}

.c-book-item .summary {
    color: #666;
    clear: both;
    padding-top: 16px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
