.home-content {
    width: 590px;
}

.home-content a{
    color: #1686cc;
}

.home-sidebar {
    width: 310px;
    background: #000;
}

/*content*/
.c-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.c-book-list {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.c-book-list li {
    float: left;
    display: block;
    width: 295px;
    overflow: hidden;
    margin-bottom: 30px;
}

.c-book-item .cover {
    float: left;
    margin-right: 18px;
}

.c-book-item .cover img{
    width: 68px;
    height: 96px;
    vertical-align: middle;
}

.c-book-item .info {
    font-size: 12px;
    margin-right: 20px;
}

.c-book-item .info p {
    line-height: 16px;
    margin: 0;
    word-wrap: break-word;
}

.c-book-item .title {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 6px 0;
}

.c-book-item .info .publisher,
.c-book-item .info .summary{
    color: #333;
}

.c-book-item .summary {
    color: #666;
    clear: both;
    padding-top: 15px;
}
