/**
 * 
 */
body{
	background: #e1e8f0;
}
.login-panel-wrap{
	height: 360px;
	position: relative;
	background: #6bd4d0;
}
.login-panel {
	width: 740px;
	height: 100%;
  	margin: 0 auto;
  	position: relative;
}
.login-banner{
	position: absolute;
	width: 360px;
	height: 120px;
	top: 50%;
	left: 0;
	margin-top: -60px;
	color: #fff;
}
.login-banner h1{
	font-size: 56px;
	margin: 0 0 20px 0;
	font-weight: normal;
}
.login-banner p{
	font-size: 16px;
}

/**
 * 
 */
.login-form{
	width: 260px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -90px;
	color: #fff;
}
.login-form input{
	width: 180px;
}
.login-form a{
	color: #fff;
}
.login-form .active{
	font-size: 18px;
}
.login-ad{
	min-height: 300px;
}
.help-block{
	display: none;
}
.has-error .help-block{
	display: block;
}
.has-error .control-label{
	color: #fff;
}