.xinran-desc {
    height: 460px;
    background: url(../img/share/desc.png) no-repeat 15px 0;
}
.book-share-box-root h3{
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 15px 0;
}
.form-group input{
    width: 100%;
    height: 30px;
    border: 1px solid #555;
    padding: 2px 4px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 3px;
}
.form-group input:focus, .form-group input:hover{
    border-color: #1686cc;
}


.bookinfo-detail-root {
    margin: 0;
    padding: 20px;
    width: auto;
    text-align: center;
}
.bookinfo-detail-root .book-detail-main {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 10px 30px 20px 30px;
}
.book-detail-main .detail-title {
    display: block;
    position: static;
    text-align: left;
    width: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #66cc00;
}
.book-detail-main .box-pic {
    float: left;
    display: inline-block;
    height: 144px;
    width: 102px;
    margin: 5px 0 10px 10px;
    margin-right: -100%;
    border: 1px solid #ddd;
    padding: 1px;
    overflow: hidden;
}
.book-detail-main .box-pic img {
    height: 142px;
    width: 100px;
}
.book-detail-main .book-title {
    font-size: 14px;
    font-weight: 700;
}
.book-detail-main .box-info {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 0 10px 10px 122px;
}
.book-detail-main .box-info h3 {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 10px 45px;
    padding: 0 0 10px 0;
}
.book-detail-main p {
    margin: 0;
    padding: 5px 0 0 0;
}